<section id="cta">
  <div class="container">
    <div class="cta text-center">
        <h4>Building a Startup?</h4> 

        <%= link_to 'We want to help', pages_contact_path, :class => 'btn' %>
    </div>
  </div>
</section>