<section class="section-page-header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="page-header">
          <h4>— ABOUT US —</h4>
        </div>
      </div>
    </div>
    <img src="/assets/theme/divider_shadow.png" title="" alt="">
  </div>
</section>

<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="span8">
        <h4>Our Mission</h4>
        <p>We want to work with exciting startups who have a solid purpose and are built on a sustainable business model.</p>
      </div>
      <div class="span4">
        <div class="well info-box">
          <h4>We Are Hiring !</h4>
          <p>We are always on the lookout for high-quality lean-minded hackers and hustlers.</p>
          <p>Sound Like You?</p>
          <p><%= link_to '<i class="icon-hand-right icon-white"></i> Get in Contact'.html_safe, pages_contact_path, :class => 'btn btn-success' %></p>
        </div>
      </div>
      <div class="span12">
        <hr>
        <h4>Executive Team</h4>
        <p>We are talented hackers and hustlers.  We boast a special expertise in Lean Startup&reg; principles and methods.</p>
        <div class="row member-container">
          <div class="span3 team-member">
            <div class="img-polaroid">
              <img src="/assets/brent.jpg">
            </div>   
            <h5>Brent Weber <small>Development Lead, Lean Expert</small></h5>  
            <hr>
            <p>Brent brings years of expertise with application architecture/development and lean startup principles to every project.</p>   
            <div class="block_general_social_1">
              <ul>
                <li><a href="http://twitter.com/#!/spinuplabs" class="social_1">@spinuplabs</a></li>
              </ul>
            </div>                        
          </div>
          <div class="span3 team-member">
            <div class="img-polaroid">
              <img src="/assets/travis.jpg">
            </div> 
            <h5>Travis McCutcheon <small>UX Lead, Lean Expert</small></h5>
            <hr>
            <p>A man with such a glorious beard needs no introduction.  His beard doesn't drink beer often, but when it does it drinks Lone Star!</p>   
            <div class="block_general_social_1">
              <ul>
                <li><a href="http://twitter.com/#!/earth2travis" class="social_1">@earth2travis</a></li>
              </ul>
            </div>                               
          </div>
          <!--<div class="span3 team-member">
            <div class="img-polaroid">
              <img src="/assets/laura.jpg">
            </div> 
            <h5>Laura Stude <small>Growth Hacker (Development/Marketing)</small></h5>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui smod tincidunt ut laor.</p>   
            <div class="block_general_social_1">
              <ul>
                <li><a href="http://twitter.com/#!/stlstude" class="social_1">@stlstude</a></li>
              </ul>
            </div>                               
          </div>-->
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'pages/cta' %>

<section id="community">
  <div class="container">
    <div class="row">
      <div class="span12">
        <hr>
        <h4>Community Involvement</h4>
      </div>
        <div class="span12">
          <h5>Lean Startup Machine</h5>
          <p>
          We organize and serve as mentors for Lean Startup Machine. LSM is an intensive 3 day workshop focused on teaching and practicing the Customer Development part of Lean Startup methodology.
          </p>
        </div>
        <div class="span12">
          <h5>Intro to Lean Methodologies</h5>
          <p>
          Basic 2 hour introduction to lean startup methodology and customer development.
          </p>
        </div>
        <div class="span12">
          <h5>Lean Startup Playbook</h5>
          <p>
            This course is focused on setting a firm foundation for your startup.
          </p>
        </div>
        <div class="span12">
          <h5>Startup Metrics for Founders</h5>
          <p>
          This course focuses on a new way of looking at metrics that will help make aspiring entrepreneurs magnitudes more effective.
          </p>
        </div>
    </div>
  </div>
</section>
