<div class="container_12">
	<div class="grid_8">
		<h1>Contact Us</h1>
		<p>Want to hire us? We love to work with great clients and make their ideas become a reality.</p>
		<form class="standard" method="post" action="">
			<div class="field">
				<label><strong>Name</strong></label>
				<input type="text'" size="45" name="name" id="name" class="textbox rounded shadow hovershadow">
			</div>
			<div class="field">
				<label><strong>Company</strong></label>
				<input type="text'" size="45" name="company" id="company" class="textbox rounded shadow hovershadow">
			</div>
			<div class="field">
				<label><strong>Phone</strong></label>
				<input type="text'" size="45" name="phone" id="phone" class="textbox rounded shadow hovershadow">
			</div>
		</form>
	</div>
	<div class="grid_4">
		<h3>Phone Number</h3>
		<p>(866) 985-6877</p>
		<h3>Email</h3>
		<p>hello@spinuplabs.com</p>
		<h3>Follow Us</h3>
		<p>@spinuplabs</p>
	</div>
</div>
