            <div class="feature">
            <div class="row">
                <div class="twelve columns">
                        <h1>We design and build amazing web apps</h1>
                        <h4 class="subheader">for Startups</h4>
                        <h4 class="subheader">for Established Companies</h4>
                </div>
            </div>

            <div class="row">
                <div class="six columns">
                    <h4>We can help your team succeed!</h4>
                </div>
                <div class="six columns">
                    <%= link_to 'Hire Us','/contact', :class => "radius button left" %>
                </div>
            </div>
        </div>

        <div class="services">
            <div class="row">
                <div class="three columns">
                           <h4>Strategy</h4>
                            <ul>
                                <li>Lean Thinking</li>
                                <li>Customer Interviews</li>
                                <li>Business Model Generation</li>
                                <li>Customer Development</li>
                                <li>Product Roadmap</li>
                            </ul>
                </div>
                <div class="three columns">
                            <h4>User Experience</h4>
                            <ul>
                                <li>User Testing</li>
                                <li>Conceptual Validation</li>
                                <li>Heuristic Analysis</li>
                                <li>User Stories</li>
                            </ul>
                </div>
                <div class="three columns">
                            <h4>Development</h4>
                            <ul>
                                <li>Prototype</li>
                                <li>Web App</li>
                                <li>Enterprise</li>

                            </ul>
                </div>
                <div class="three columns">
                            <h4>Marketing</h4>
                            <ul>
                                <li>Customer Acquisition</li>
                                <li>Iterative Marketing</li>
                                <li>Social Media</li>
                                <li>Branding</li>
                            </ul>
                </div>
                <hr />
            </div><!--//row-->
        </div>

<!--            <div class="row">
                <div class="eight columns">
                    <div class="widget">
                        <h3 class="widgettitle">Latest From the Blog</h3>
                            <div id="blog_recent">
                    	       <ul>
                    	       <% @posts.each do |post| %>
                    	           <li>
                    	               <h3><%= link_to post.title, post %></h3>
                    		  <h6 class="subheader"><%= post.date %></h6>
                    		  <%= post.summary_html %>
                    	           </li>
                	       <% end %>
                    	       </ul>
                    	   </div>
                        </div>
                    </div>
                    <div class="four columns">
                            <h4>Upcoming Classes</h4>
                            <div id="education">
                                <ul>
                                    <li>
                                        <h5>Lean Startup Machine Workshop</h5>
                                        <h6 class="subheader">March 22-24th, Rackspace Austin</h6>
                                        <p>
                                  	     3 day instensive workshop focused on teaching and practicing the Customer Development part of Lean Startup methodology.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>


            </div>-->
