<section class="welcome-message">
  <div class="container">
    <div class="hero-unit">
      <h2>
        We help Startups... <br> 
        <small>Launching a startup without ensuring a healthy foundation, can lead to failure or untimely collapse.</small>
      </h2>
      <hr>
      <h4>
        Our unique 4 stage process ensures your startup has the necessary building blocks in place to sustain the rigors of the startup growth curve.
      </h4>
      <%= link_to 'Learn more about our Process', pages_our_process_path, :class => 'btn btn-inverse' %>
      <img src="/assets/theme/divider_shadow.png" title="" alt="">
    </div>
  </div>
</section>

<%= render 'pages/cta' %>

<section class="clients">
  <div class="container">
    <hr class="divider-home">
    <div class="row">
      <div class="span3">
        <div class="section-overview">
          <h5><i class="icon-minus"></i> Our Clients <i class="icon-minus"></i></h5>  
          <hr>
          <p>We only work with startups who are serious about building something of value.</p> 
          <p>A few of our favorite clients</p>
        </div>
      </div>
      <div class="span9">
        <div class="row">
          <div class="span3">
            <div class="well client">
              <a href="#"><img src="/assets/altruus.png"></a>
            </div>
          </div>
          <div class="span3">
            <div class="well client">
              <a href="#"><img src="/assets/ballotbookweblogo.jpg"></a>
            </div>
          </div>
          <div class="span3">
            <div class="well client">
              <a href="#"><img src="/assets/crowdini.png"></a>
            </div>
          </div>
          <div class="span3">
            <div class="well client">
              <a href="#"><img src="/assets/wwd-logo.png"></a>
            </div>
          </div>
          <div class="span3">
            <div class="well client">
              <a href="#"><img src="/assets/embrace.gif"></a>
            </div>
          </div>
          <div class="span3">
            <div class="well client">
              <a href="#"><img src="/assets/letterplan.png"></a>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</section>

