<section class="section-page-header">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="page-header">
          <h4>— OUR PROCESS —</h4>
        </div>
      </div>
    </div>
    <img src="/assets/theme/divider_shadow.png" title="" alt="">
  </div>
</section>

<section id="stage1" class="services">
  <div class="container">
    <div class="row bottom-20">
      <div class="span12">
        <h3><i class="icon-wrench"></i> STAGE I - LAUNCHPAD</h3>
        <p>
          You can't launch a rocket without a launchpad.  When building your launchpad we focus on the fundamental principles that guide your culture and mindset.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <div class="well well-small">
          <span class="service-icon"><i class="icon-resize-full"></i></span>
          <h5>Values</h5>
          <p>What principles drive you and your team</p>
          <a class="btn btn-mini" href="#">Read More</a>
        </div>
      </div>
      <div class="span4">
        <div class="well well-small">
          <span class="service-icon"><i class="icon-list"></i></span>
          <h5>Vision</h5>
          <p>Why do you care about the problem?  Why do you want to help your customers?</p>
          <a class="btn btn-mini" href="#">Read More</a>
        </div>
      </div>
      <div class="span4">
        <div class="well well-small">
          <span class="service-icon"><i class="icon-th"></i></span>
          <h5>Purpose</h5>
          <p>How do your values and vision intersect, and how does that guide your decisions?  What is the overarching goal for your startup?</p>
          <a class="btn btn-mini" href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="stage2" class="services">
  <div class="container">
    <div class="row bottom-20">
      <div class="span12">
        <h3><i class="icon-wrench"></i> STAGE II - FLIGHT PATH</h3>
        <p>
          You can't launch your rocket without knowing where your destination is and the flight path needed to get there.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <div class="well well-small">
          <span class="service-icon"><i class="icon-resize-full"></i></span>
          <h5>Problem</h5>
          <p>Based on your stated purpose what problems do you care about and want to solve?</p>
          <a class="btn btn-mini" href="#">Read More</a>
        </div>
      </div>
      <div class="span4">
        <div class="well well-small">
          <span class="service-icon"><i class="icon-resize-full"></i></span>
          <h5>Persona</h5>
          <p>Figuring out who your customer is, is the next step.  Give them a name, figure out what they like.  All those little details that make the customer real.  At this stage your persona answers most of the important questions that arise.</p>
          <a class="btn btn-mini" href="#">Read More</a>
        </div>
      </div>
      <div class="span4">
        <div class="well well-small">
          <span class="service-icon"><i class="icon-list"></i></span>
          <h5>Channels</h5>
          <p>Once you have identified your target customer, it is time to determine the methods to reach them.  Where do we find there customers and how do we let them know we have a painkiller specially formulate for their problem area?</p>
          <a class="btn btn-mini" href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'pages/cta' %>

<section id="stage3" class="services">
  <div class="container">
    <div class="row bottom-20">
      <div class="span12">
        <h3><i class="icon-wrench"></i> STAGE III - TEST FLIGHTS</h3>
        <p>
          Theory only gets you so far, at some point you have to bulid a test rocket and put it in the air.  Make sure all the feedback sensors are working so you get that valuable flight data.  This enables you to tweak the variables until you have a rocket that actually flies.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <div class="well well-small">
          <span class="service-icon"><i class="icon-resize-full"></i></span>
          <h5>Proposition</h5>
          <p>What makes us the drug rather than the painkiller.</p>
          <a class="btn btn-mini" href="#">Read More</a>
        </div>
      </div>
      <div class="span4">
        <div class="well well-small">
          <span class="service-icon"><i class="icon-list"></i></span>
          <h5>Metrics</h5>
          <p>With our MVP out there looping through the customer development cycle it is important that we are gathering important data on the key metrics.</p>
          <a class="btn btn-mini" href="#">Read More</a>
        </div>
      </div>      
      <div class="span4">
        <div class="well well-small">
          <span class="service-icon"><i class="icon-list"></i></span>
          <h5>MVP</h5>
          <p>Once you have identified a problem, we help you build your minimum viable product to put in front of customers and gather feedback.</p>
          <a class="btn btn-mini" href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="stage4" class="services">
  <div class="container">
    <div class="row bottom-20">
      <div class="span12">
        <h3><i class="icon-wrench"></i> STAGE IV - ORBIT</h3>
        <p>
          A successful startup doesn't really have a single launch.  It is a series of test launches that push the rocket further and further away from earth, until you look down and your rocket is in space.  With the reduced gravity and friction, your rocket in nimble.  Minimal effort is needed to shift your flight path when needed.  The appropriate sensors are connected, keeping you in touch with changes in your rocket's operation.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <div class="well well-small">
          <span class="service-icon"><i class="icon-list"></i></span>
          <h5>Scaling</h5>
          <p>As your startup grows, you need to prepare for future traffic.  Continuous integration environments, team augmentation </p>
          <a class="btn btn-mini" href="#">Read More</a>
        </div>
      </div>
      <div class="span4">
        <div class="well well-small">
          <span class="service-icon"><i class="icon-list"></i></span>
          <h5>Growth</h5>
          <p>To stabilize your startup trajectory, you must take steps to drive traffic.  Implementing a plan for sustaintable growth smooth out the startups waves. </p>
          <a class="btn btn-mini" href="#">Read More</a>
        </div>
      </div>
      <div class="span4">
        <div class="well well-small">
          <span class="service-icon"><i class="icon-list"></i></span>
          <h5>Funding</h5>
          <p>Raising money </p>
          <a class="btn btn-mini" href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

