<div class="container_12">
	<div class="grid_12">
		<h2>It makes good business sense to work with us!</h2>
	</div>
	<div class="grid_8">
                      <ul class="iconlist clean">
                          <li class="clearfix">
                              <img src="/assets/icons/bargraph32.png" alt="Icon" class="left" />
                              <h3><a href="#">Data Driven</a></h3>
                                <p>We believe that data is always right. The most aesthetically beautiful application is only valuable if your numbers are going up. We test and adjust until you have both.</p>
                            </li>
                            <li class="clearfix">
                              <img src="/assets/icons/comment32.png" alt="Icon" class="left" />
                              <h3>Transparency and Communication</h3>
                                <p>We believe you should know exactly what is happening with your project at all times. We share our code, use collaborative project management tools and talk to you daily to insure that we’re all on the same page.</p>
                            </li>
                            <li class="clearfix">
                              <img src="/assets/icons/risegraph32.png" alt="Icon" class="left" />
                              <h3>Experience</h3>
                                <p>Not only are our Project Managers excited about new projects, they’ve also directed development on 10+ projects each. Their institutional knowledge and honed instincts help you to go in the right direction.</p>
                            </li>
                        </ul>
	</div>
	<div class="grid_4">
                    <div class="widget">
                    	<h3 class="widgettitle">From the Blog</h3>
                    </div>
                    <div class="widget">
                    	<div id="blog_recent">
                    		<ul>
                    			<% @posts.each do |post| %>
                    			<li class="clearfix">
                    				<p><strong><%= link_to post.title, post %></strong><br />
                    				<span class="postmeta"><%= post.date %></span><br />
                    				<%= post.summary_html %>
                    			</li>
                			<% end %>
                    		</ul>
                    	</div>
                    </div>
       </div>
</div>
