             <div class="container_12">
<div class="grid_12">
					<h1>Our Team</h1>
				</div>
				<div class="grid_2">
<%= image_tag 'brent-bio-photo.jpg', :class => 'left' %>
</div><div class="grid_10">
					<h3>Brent Weber</h3>
					<p>
						Brent Weber is our Founder and Chief Craftsman who believes that software should not just work, but be well-crafted. He started SpinUp Labs because he wanted to build a company that he would be proud to work for and companies would love to work with.
					</p>
					<p>
						Brent has been professionally developing for the web since 2001.
					</p>
				</div>
<div class="grid_12">
	<hr />
					<h2>Community Involvement</h2>
</div>
<div class="grid_2">&nbsp;</div>
<div class="grid_10">
					<h4>Lean Startup Machine Workshop</h4>
					<p>
						We organize and serve as mentors for the Lean Startup Machine workshops in Austin.   LSM is a 3 day instensive workshop focused on teaching and practicing the Customer Development part of Lean Startup methodology.
					</p>


					<h4>Lean 101 - Intro to Lean Methodologies</h4>
					<p>
						Basic 2 hour introduction to lean startup methodology and customer development.
					</p>

					<h4>Lean 111 - You Have an Idea, Here's What to Do Now</h4>
					<p>
						The class is focused on coaching startups as they progress from idea to product.
					</p>

					<h4>Lean 121 - Startup Metrics for Founders</h4>
					<p>
						This class focuses on a new way of looking at metrics that will help make aspiring entrepreneurs magnitudes more effective.
					</p>

				</div>

</div>
