
.post
  %h3= link_to post.title, post
  %h6.subheader
    Posted on Friday, Nov 22, 2012
  .entry-content.clearfix
    - if post.image
      =image_tag '/assets/'+post.image, :class => 'left'
    - if summary
      = post.summary_html
      = link_to 'Read More&hellip;'.html_safe, post
    - else
      ~ post.content_html
  %h6.subheader
    18 Comments | Tags: Design, Entrepreneur
