.post
  %h3= link_to post.title, post
  %h6.subheader
    Posted
    = time_ago_in_words post.date
    ago
  .entry-content.clearfix
    - if post.image
      =image_tag '/assets/'+post.image, :class => 'left'
    - if summary
      = post.summary_html
      = link_to 'Read More&hellip;'.html_safe, post
    - else
      ~ post.content_html
  %h6.subheader
    Tags: Design, Entrepreneur
