= render 'feed_link'
.row
	.eight.columns
		- if collection.present?
			= render collection, :summary => true
			= paginate collection
		- else
			No posts found.
	.three.columns
		.classes
			%h4
				Upcoming Classes
			%ul
				%li
					%p
						%strong
							Lean 121 - Startup Metrics for Founders
						%br
						Feb 21st 7-9pm, $20
						%br
						Tech Ranch - Austin, TX
				%li
					%p
						%strong
							Lean Startup Machine - Weekend Workshop
						%br
						March 22-24th
						%br
						Rackspace - Austin, TX
				%li
					%p
						%strong
							Lean 111 - I have an idea, now what?
						%br
						Wednesday Evenings 7-9pm, April 3-29th
						%br
						Tech Ranch - Austin, TX
